<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" 
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

  
	<display-name>Emergencias</display-name>
  
  	<!-- Config Spring MVC -->
	<servlet>
		<servlet-name>spring-web</servlet-name>
		<servlet-class>
                    org.springframework.web.servlet.DispatcherServlet
        </servlet-class>    
         <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring/spring-web-servlet.xml</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>spring-web</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	
	<!-- Servlet recoge peticiones de cambio de lenguaje -->
	<servlet>
		<servlet-name>changLang</servlet-name>
		<servlet-class>com.casosemergencias.util.LanguageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>changLang</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<!-- Filtro que controla en todas las peticiones, excepto en la de login, si el usuario esta en la sesion -->
	<filter>
		<filter-name>UserFilter</filter-name>
		<filter-class>com.casosemergencias.util.UserFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UserFilter</filter-name>
		<url-pattern>/private/*</url-pattern>
	</filter-mapping>
</web-app>
